/* ------ colors ----------
-----------------------------*/
$whiteColor: #FFFFFF;
$backgroundColor: #EDF2F7;
$primaryColor: #1f8af4;


/* ------ Font and typography  ----------
-----------------------------*/
// $biggestFontSize: 2.5rem;
// $h1FontSize: 1.5rem;
// $h2FontSize: 1.25rem;
// $h3FontSize: 1rem;
// $normalFontSize: -938rem;
// $smallFontSize: -813rem;
// $smallestFontSize: 0.75rem;
// $paddingContainer : 4rem;

